{% extends 'maiinn/mains.html' %}

{% block body %}

<section class="text-gray-600 body-font">

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="lg:w-2/3 mx-auto">
        <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4">
          <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0" src="https://source.unsplash.com/820x240/?nature">
          <div class="text-center relative z-10 w-full">
            <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">About Me</h2>
            <p class="leading-relaxed">I am a Python Programmer. I like Python and Javascript.</p>
            <a class="mt-3 text-indigo-500 inline-flex items-center" href="#s1">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container px-5 py-24 mx-auto" id="s1">
    <h2 class="font-medium leading-tight text-4xl mt-0 mb-2 text-black-600">About me - My name is Arpit Jaiswal</h2><br>

  <p>My name is Arpit Jaiswal and I am currently studying in class 11. I am a programmer who has developed a website using the Django library in the Python programming language. Django is a powerful web framework that simplifies the process of building and maintaining web applications, and I am proud of my ability to use it effectively.</p><br>

<p> have always been interested in programming and technology, and I have been working to improve my skills and knowledge for many years. In addition to my work with Django and Python, I have also explored other programming languages and technologies, constantly seeking to expand my horizons and learn new things. I am a proactive learner who is not afraid to take on new challenges, and my hard work and dedication have helped me achieve great things so far in my career.</p><br>

<p>As a student, I am dedicated to my studies and I am determined to succeed in the field of computer science. I am confident that my skills and dedication will help me achieve great things in the future. I am always looking for ways to improve and grow as a programmer, and I am excited to see where my career will take me.</p><br>

<p>In addition to my technical skills, I am also a team player who is always willing to share my knowledge and help others learn. I believe that teamwork and collaboration are essential to achieving success, and I have built strong relationships with my peers and colleagues through my ability to work well with others.</p><br>

<p>I have always been passionate about programming and technology, and I am excited to see where my career will take me. I am confident that my skills and dedication will help me achieve great things in the future, and I am excited to continue learning and growing as a programmer.</p><br>

<p>Overall, I am a talented and dedicated programmer who is sure to achieve great things in the field of computer science. My skills in Django and Python, as well as my eagerness to learn and grow, make me a valuable asset to any team or project. I am excited to see what the future holds and I am confident that I will continue to succeed in my career.</p><br>

  </div>
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Some Useful Knowledge</h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">Knowledge is a form of awareness or familiarity. It is often understood as awareness of facts or as practical skills, and may also mean familiarity with objects or situations.</p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
        </div>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Who make website?</h2>
            <p class="leading-relaxed text-base">Web developers build websites and ensure they perform reliably and efficiently. Learn more about this critical role in the tech industry and how to get started.</p>
            <!-- <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
          </div>
        </div>
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">About Blogs</h2>
            <p class="leading-relaxed text-base">A blog, short for weblog, is a frequently updated web page used for personal commentary or business content. Blogs are often interactive and include sections at the bottom of individual blog posts where readers can leave comments.</p>
            <!-- <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
          </div>
        </div>
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Who write Blogs?</h2>
            <p class="leading-relaxed text-base">Bloggers (a word for people who write on blogs) often write about their opinions and thoughts. A blog containing video material is called a video blog or video log, usually shortened to vlog.</p>
            <!-- <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}