<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">

  {% block sche %}
    
  {% endblock sche %}

  <title>Document</title>
  {% block css %}
    
  {% endblock css %}
</head>

<body>
  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <img src="https://source.unsplash.com/50x50/?robots" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white bg-indigo-500 rounded-full"
            viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        <!-- </img> -->
        <span class="ml-3 text-xl">iBlogging</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-white" href="/">Home</a>
        <a class="mr-5 hover:text-white" href="/about">About</a>
        <a class="mr-5 hover:text-white" href="/contact">Contact Us</a>
        <!-- <a class="mr-5 hover:text-white" href="/feedback">FeedBack Us</a> -->
        <a class="mr-5 hover:text-white" href="/blog">Blog</a>
        {% if user.is_authenticated %}
        <a class="mr-5 hover:text-white" href="/blog/Postblog">Post Your Blog</a>
        <a class="mr-5 hover:text-white" href="/Profile">Profile</a>
          
        {% else %}
          
        {% endif %}
      </nav>

      {% if user.is_authenticated %}

      <a href="/handlelogout">
        <button
          class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">logout
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </a>
        
      {% else %}

      <a href="/login">
        <button
          class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Login
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </a>

      <a href="/signin">
        <button
          class="mx-3 inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Sign
          in
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </a>
        
      {% endif %}

    </div>
  </header>


  {% for message in messages %}
  <div id="alert-2" class="flex p-4 mb-4 text-{{message.tags}}-800 rounded-lg bg-{{message.tags}}-50 dark:bg-gray-800 dark:text-{{message.tags}}-400"
    role="alert">
    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
        clip-rule="evenodd"></path>
    </svg>
    <span class="sr-only">Info</span>
    <div class="ml-3 text-sm font-medium">
      {{message}}
    </div>
    <button type="button"
      class="ml-auto -mx-1.5 -my-1.5 bg-{{message.tags}}-50 text-{{message.tags}}-500 rounded-lg focus:ring-2 focus:ring-{{message.tags}}-400 p-1.5 hover:bg-{{message.tags}}-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-{{message.tags}}-400 dark:hover:bg-gray-700"
      data-dismiss-target="#alert-1" aria-label="Close">
      <span class="sr-only">Close</span>
      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
  {% endfor %}



  {% block body %}

  {% endblock body %}

  <footer class="text-gray-600 body-font">
    <div
      class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <img src="https://source.unsplash.com/50x50/?robots" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white bg-indigo-500 rounded-full"
            viewBox="0 0 24 24" title="Arpit Jaiswal">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            
          <span class="ml-3 text-xl">iBlogging</span>
        </a>
        <p class="mt-2 text-sm text-gray-500">The first thing you learn when you're blogging is that people are one click away from leaving you.</p>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">PAGES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800" href="/">Home</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800" href="/about">About</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800" href="/contact">Contact</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800" href="/blog">Blog</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">After Login or Sign in PAGES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800" href="/blog">Blog</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Post Your Blog</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Your Profile</a>
            </li>
            <!-- <li>
              <a class="text-gray-600 hover:text-gray-800" href="">Fourth Link</a>
            </li> -->
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">About</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800" href="/about">About Us</a>
            </li>
            <!-- <li>
              <a class="text-gray-600 hover:text-gray-800" href="">Second Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800" href="">Third Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800" href="">Fourth Link</a>
            </li> -->
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">HELP</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800" href="/contact">Contact US</a>
            </li>
            <!-- <li>
              <a class="text-gray-600 hover:text-gray-800" href="">Second Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800" href="">Third Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800" href="">Fourth Link</a>
            </li> -->
          </nav>
        </div>
      </div>
    </div>
    <div class="bg-gray-100">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 Tailblocks —
          <a href="#" rel="noopener noreferrer" class="text-gray-600 ml-1"
            <!--target="_blank"-->>@Python_Programmer.12</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
          <a class="text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
              viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
              viewBox="0 0 24 24">
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
              </path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>
  {% block jvas %}

  {% endblock jvas %}
</body>

{% block script %}
  
{% endblock script %}

</html>